<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Obras</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        /* Estilo para adicionar um pouco de espaço do topo */
        body {
            padding-top: 5rem;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Serviço de Streaming</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Entidades
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/crud-usuario">CRUD: Usuário</a></li>
                        <li><a class="dropdown-item" href="/crud-obras">CRUD: Obras</a></li>
                        <li><a class="dropdown-item" href="/consultas">Consultas</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <h1 class="mt-5">Página Inicial</h1>
    <p class="lead">Bem-vindo ao sistema de streaming. Aplique operações sobre as entidades do mundo "streaming"
        na aba "Entidades".Veja o nosso dashboard interativo com gráficos que refletem sobre o cenário de streaming atual.
        Utilize o menu acima para navegar entre as seções.</p>
    <hr>

    <h4>Ações Rápidas:</h4>
    <p><a href="/consulta-obra-like">Consulta: buscar obra por meio de palavra chave</a></p>
    <p><a href="/criar-obra">Inserção: Inserir obra</a></p>
    <p><a href="/delete-obra">Deleção: Deletar obra</a></p>
    <p><a href="/update-obra">Atualizar: Atualizar obra</a></p>
    <p><a href="/update-obra">Consulta: Obra por genero</a></p>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>